# Compiled Python files
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# PyInstaller build files
dist/
build/
*.spec

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
.env/
*.egg-info/
